<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%=vacancy.position%> - InternDigger</title>
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
  <div class="user-nav">
    <div class="container">
      <%- include('_header') %>
    </div>
  </div>

  <main class="main" style="padding-top: 3rem">
    <div class="heading">
      <h2 class="title secondary-heading text-center"><%=vacancy.position %></h2>
      <h3 class="lead text-center"><%= vacancy.organization%></h3>
    </div>

    <!-- Details Overview -->
    <div id="vacancyAbout" class="about">
      <div class="quote-card" style="opacity: 1;">
        <ul class="details">
          <ul id="position">
            <li><h3>Position</h3></li>
            <li><%=vacancy.position%></li>
          </ul>
          <ul id="duration">
            <li><h3>Duration</h3></li>
            <li><%=vacancy.duration%></li>
          </ul>
          <ul id="type">
            <li><h3>Type</h3></li>
            <li><%=vacancy.type%></li>
          </ul>
          <ul id="stipend">
            <li><h3>Stipend (per month)</h3></li>
            <li>Rs. <%=vacancy.stipend%></li>
          </ul>
          <ul id="city">
            <li><h3>City</h3></li>
            <li><%=vacancy.city%></li>
          </ul>
          <ul id="last-date">
            <li><h3>Last Date To Apply</h3></li>
            <li><%=vacancy.lastDate%></li>
          </ul>
        </ul>
      </div>
      <!-- Description -->
      <div class="description">
        <h3>Description</h3>
        <p><%=vacancy.description%></p>
      </div>
      <div class="bottom-line"></div>
      <%if(disabled) {%>
        <button type="submit" class="btn btn-large btn-main btn-apply disabled" disabled>Applied</button>
      <% }else {%>
        <button type="submit" class="btn btn-large btn-main btn-apply btn-up">Apply Now</button>
      <% } %>
      <div class="contact">
        <small class="lead">Mail your resume to <b><%=vacancy.contactEmail%></b></small>
      </div>
    </div>
    
  </main>
  
  <!-- Footer -->
  <%- include('_footer')%>
  <script>
    window.vacancyID = '<%=vacancy._id%>';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/js/main.bundle.js"></script>
</body>
</html>