<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title> <%=vacancy.position%> - InternDigger</title>
<link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
<link rel="stylesheet" href="/css/main.css">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/8ad2e12fec.js" crossorigin="anonymous"></script>
</head>
<body>
  <!-- Navbar -->
  <div class="user-nav">
    <div class="container">
      <%- include('_header') %>
    </div>
  </div>

  <main class="main" style="padding-top: 3rem">
    <div class="heading">
      <h2 class="title secondary-heading text-center"><%=vacancy.position %></h2>
      <h3 class="lead text-center"><%= vacancy.organization%></h3>
    </div>

    <!-- Details Overview -->
    <div id="vacancyAbout" class="about">
      <div class="quote-card" style="opacity: 1;">
        <ul class="details">
          <ul id="position">
            <li><h3>Position</h3></li>
            <li><%=vacancy.position%></li>
          </ul>
          <ul id="duration">
            <li><h3>Duration</h3></li>
            <li><%=vacancy.duration%></li>
          </ul>
          <ul id="type">
            <li><h3>Type</h3></li>
            <li><%=vacancy.type%></li>
          </ul>
          <ul id="stipend">
            <li><h3>Stipend (per month)</h3></li>
            <li>Rs. <%=vacancy.stipend%></li>
          </ul>
          <ul id="city">
            <li><h3>City</h3></li>
            <li><%=vacancy.city%></li>
          </ul>
          <ul id="last-date">
            <li><h3>Last Date To Apply</h3></li>
            <li><%=vacancy.lastDate%></li>
          </ul>
        </ul>
      </div>
      <!-- Description -->
      <div class="description">
        <h3>Description</h3>
        <p><%=vacancy.description%></p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat doloremque voluptate repellendus aliquam odit quaerat autem fugiat fuga omnis praesentium porro, aut ducimus ipsam a ullam impedit! Eius magnam recusandae itaque dicta similique hic ducimus ipsam odio mollitia dolorem provident aliquid laborum labore, totam doloremque vel a? Cupiditate obcaecati possimus adipisci error doloribus, aliquid fugit odio minus a dolorum asperiores quia doloremque recusandae quam alias aperiam quas minima molestiae expedita blanditiis voluptas rem! Libero, earum? Neque, aut fugiat sunt dolorem voluptas soluta omnis molestiae, sint accusantium quo magnam ullam est earum veniam voluptates velit saepe distinctio impedit suscipit? Dolor tempora sint veritatis ab nulla repudiandae, modi ut facilis, ipsam voluptatum totam soluta distinctio non iste veniam, corporis saepe vel tempore in repellendus suscipit expedita error at. Ratione ea vero veniam magnam tempore blanditiis quia natus id, est omnis, sed saepe quos harum, dicta provident maiores repudiandae vitae. Quas magnam porro at dolores repellendus doloribus soluta omnis sapiente hic asperiores necessitatibus exercitationem vero quaerat obcaecati aut modi, labore, consequatur voluptates? Animi tenetur voluptatum vitae est id ipsum accusamus voluptas asperiores amet. Iure, beatae! Voluptatem numquam consequatur, officiis soluta omnis facilis adipisci saepe sed perferendis porro harum praesentium in maiores recusandae quaerat eveniet optio autem voluptate id vero ratione atque ab cumque. Dolorum neque fugit odit totam molestiae a et? Itaque nostrum laborum voluptatum dolorem ea placeat delectus maxime minus necessitatibus odit id nesciunt corporis voluptates veritatis libero veniam nisi iusto, facere nulla vitae quod a quia temporibus assumenda. Molestiae id modi obcaecati! Aliquam, minus excepturi cumque doloremque quos amet necessitatibus praesentium recusandae enim adipisci? Exercitationem voluptatibus inventore quae provident, aliquid quis asperiores nihil ullam, iure rem minus aliquam eaque harum ad doloribus? Ipsa dolorem dolore temporibus adipisci ducimus esse beatae dicta provident doloremque aliquid, magni consequuntur dignissimos voluptatum ea similique et libero, accusamus placeat corrupti rerum vitae nobis modi quibusdam dolorum! Repellendus numquam laboriosam maxime, dolorum unde omnis ipsa fuga possimus quaerat in tenetur iste fugiat corporis ab est ipsum deleniti quis velit incidunt distinctio cupiditate officia tempore, recusandae cumque. Dignissimos repellat quam est, atque commodi earum reprehenderit. Ad minima, corrupti temporibus incidunt esse provident perferendis mollitia laborum labore quis accusantium. Aperiam amet atque molestias nam quae laborum, aliquam eum, labore, facilis consequuntur voluptatibus! Quia veniam, perferendis totam sunt officiis optio doloribus obcaecati suscipit doloremque alias quam quis iste nisi sit, blanditiis id? Rem minus mollitia tempore tenetur deserunt delectus hic dicta asperiores fuga sint libero architecto maiores dolorum laudantium voluptate, magnam voluptas ab laboriosam id! Omnis obcaecati explicabo aut enim dolorum atque aliquid architecto quod. Doloremque sed dicta quaerat id soluta deserunt sit adipisci nemo cum quisquam necessitatibus rerum facilis, culpa, repellat ex odit, nobis laboriosam consectetur nisi hic nesciunt. Quisquam, eligendi hic! Atque esse dolore quasi ex eius neque nesciunt reprehenderit velit beatae. Optio distinctio illo dolores, inventore consequatur dolorum voluptas dignissimos ullam repellendus incidunt delectus, ut dolore repellat! Quaerat, eaque repellendus nemo impedit, eligendi et corporis non officia cum dolorem recusandae, quo asperiores laborum fugiat necessitatibus sit perferendis.</p>
      </div>
      <div class="bottom-line"></div>
      <%if(disabled) {%>
        <button type="submit" class="btn btn-large btn-main btn-apply disabled" disabled>Applied</button>
      <% }else {%>
        <button type="submit" class="btn btn-large btn-main btn-apply btn-up">Apply Now</button>
      <% } %>
      <div class="contact">
        <small class="lead">Mail your resume to <b><%=vacancy.contactEmail%></b></small>
      </div>
    </div>
    
  </main>
  
  <!-- Footer -->
  <%- include('_footer')%>
  <script>
    window.vacancyID = '<%=vacancy._id%>';
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="/js/main.bundle.js"></script>
</body>
</html>